<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="style/home.css" />
  </head>
  <body>
    <!-- -------------------------header------------------------- -->
    <nav>
      <div class="container">
        <div class="left_navabar">
          <img src="images/Logo1.png" id="logo" class="images" />
          <h3 id="name2">Friends.com</h3>
        </div>
        <div class="search_bar">
          <i class="uil uil-search"></i>
          <input type="search" placeholder="Search For a Friend" />
        </div>
        <div class="mid">
          <button>
              <a href="" >Request</a>
          </button>&nbsp&nbsp
          <button>
              <a href="" id="butn">Suggestions</a>
          </button>
      </div>
        <div class="right_navbar">
          <li>
            <a href="" class="btn active"><i class="uil uil-home"></i></a>
          </li>
          <li>
            <a href="/upload" class="btn"><i class="uil uil-plus"> </i></a>
          </li>
          <li>
            <a href="/chat" class="btn"><i class="uil uil-chat"></i></a>
          </li>
          <li>
            <a href="/profile" class="btn"
              ><img src="images/man.png" alt="" class="images" id="profile"
            /></a>
          </li>
          <li>
            <a href="/logout" class="btn"><i class="uil uil-exit"></i></a>
          </li>
        </div>
      </div>
    </nav>

    <!-- --------------------------------main---------------------- -->
    <main>
      <div class="container">
        <div class="left">
          <!-- ---------------posts------------------------- -->
          <div class="posts">
            <!-- -----------------------post1--------------------------- -->
            <% Posts.forEach((item)=>{%>
            <div class="post">
              <div class="head">
                <div class="profile_photo">
                  <img src="images/man.png" alt="" class="images" />
                </div>
                <div class="name">
                  <h3><%=item.uploaderID%></h3>
                  <small>10 Min ago</small>
                </div>
              </div>

              <div class="photo">
                <img src="<%=item.image%>" alt="" class="post_photo" />
              </div>

              <div class="action-button">
                <div class="like_comment">
                  <span><i class="uil uil-heart"></i></span>
                  <span><i class="uil uil-comment-dots"></i></span>
                  <span><i class="uil uil-share-alt"></i></span>
                </div>
                <div class="save">
                  <span><i class="uil uil-bookmark-full"></i></span>
                </div>
              </div>

              <div class="liked-by">
                <span
                  ><img src="images/profile2.png" alt="" class="image"
                /></span>
                <span
                  ><img src="images/profile3.png" alt="" class="image"
                /></span>
                <span
                  ><img src="images/profile4.png" alt="" class="image"
                /></span>
                <p>Likes : <b><%=item.likes%></b></p>
              </div>

              <div class="caption">
                <p>
                  <b><%=item.uploaderID%> : </b><%=item.caption%>
                </p>
              </div>

              <div class="comments text-muted">view all 23 comments</div>
            </div>
            <%});%>


  
          </div>
        </div>

        <!-- --------------End of left ---------------------------- -->
        
      </div>
    </main>
  </body>
</html>
